<div class="col-md-10 col-md-offset-1">
  <%= form_for(:session, url: login_path, html: { id: "usersigninform" }) do |f| %>
    <div class="form-group">
      <%= f.label :user_name, "Username", class: "control-label" %>
      <%= f.text_field :user_name, class: "form-control" %>
      <i></i>
    </div>
    <div class="form-group">
      <%= f.label :password, class:"control-label" %>
      <%= f.password_field :password, class: "form-control" %>
      <i></i>
    </div>
    <%= f.submit "Login", class: "btn btn-primary" %>
  <% end %>
</div>
