<div class="col-md-8 col-md-offset-2">
  <h3><%= @user.display_name %></h3>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
    <li><a href="#posts" data-toggle="tab">Posts</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="comments">
      <% @comments.each do |comment| %>
        <div class="comment">
          <p>
            <%= link_to comment.post.title, post_path(comment.post) %>
          </p>
          <p>
          <strong>Comment:</strong>
          <%= comment.content %>
          </p>
          <% if current_user?(comment.user) %>
            <%= link_to "delete", [comment.post, comment], method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="tab-pane" id="posts">
      <%= render 'shared/posts' %>
    </div>
  </div>

</div>
