<ul>
  <% @posts.each do |post| %>
    <%= render_bump_forms_for(post) %>
    <%= post.bumps %>
      <li class="post">
      <%= link_to_post(post) %>
        <% if current_user?(post.user) %>
          <div class="delete-link"><%= link_to "delete", post, method: :delete %></div>
        <% end %>
        <br><%= link_to "Comments (#{post.comments.count})", post_path(post), class: "comments-link" %>
      </li>
  <% end %>
</ul>
