<ul>
  <% @posts.each do |post| %>
    <% if current_user && !post.bumped_users.include?(current_user) %>
      <%= render "user_item_bumps/bump_form", post: post %>
    <% elsif current_user %>
      <%= render "user_item_bumps/debump_form", post: post %>
    <% end %>
      <li class="post">
      <%= link_to_post(post) %>
        <% if current_user?(post.user) %>
          <div class="delete-link"><%= link_to "delete", post, method: :delete %></div>
        <% end %>
        <br><%= link_to "Comments (#{post.comments.count})", post_path(post), class: "comments-link" %>
      </li>
  <% end %>
</ul>
