<div class="col-md-6 col-md-offset-3">
  <p class="post">
    <% if @post.link? %>
      <h3><a href=<%= @post.link %>><%= @post.title %></a></h3>
    <% else %>
      <h3><%= @post.title %></h3>
    <% end %>
    <% if @post.user %>
      <%= link_to @post.user.display_name, user_path(@post.user) %>
    <% else %>
      Anonymous
    <% end %>
    <%= @post.content %>
  </p>
  <div class="comments-form">
    <%= render 'comments/form' %>
  </div>
  <div class="comments">
    <%= will_paginate @comments %>
    <%= render @comments %>
    <%= will_paginate @comments %>
  </div>
</div>
